* {
  font-family: sans-serif;
  cursor: none;
  margin: 0px;
}

body {
  background-color: rgb(20, 20, 20);
  height: 200vh;
}

#trailer {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 20px;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;

  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px;

  height: 150px;
  transition: height 500ms ease, background-color 500ms ease, opacity 500ms ease;
  position: fixed;
  width: calc(100vw - 8px);

  border: 2px solid white;
  border-radius: 10px;

  opacity: 0.75;
}

#navbar a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
